
<section class="showcase">
  <div class="container">
   <div class="card">
     <div class="card_title title-white">
       <p>Your Location</p>
     </div>
     <div class="card_image"> <img src="assets/globalisation-g347b14ac5_1920.jpg" /> </div>
     <div class="info">
       <table class="info_card">
         <tbody>
         <tr class="even">
           <th>Country</th>
           <td>{{country}}</td>
         </tr>
         <tr class="odd">
           <th>Region</th>
           <td>{{region}}</td>
         </tr>
         <tr class="even">
           <th>City</th>
           <td>{{city}}</td>
         </tr>
         <tr class="odd">
           <th>Country Code</th>
           <td>{{country_code}}</td>
         </tr>
         <tr class="even">
           <th>Calling Code</th>
           <td>{{callingCode}}</td>
         </tr>
         <tr class="odd">
           <th>Currency</th>
           <td>{{currency}}</td>
         </tr>
         <tr class="even">
           <th>Org</th>
           <td>{{org}}</td>
         </tr>
         </tbody>
       </table>
     </div>
   </div>
    <br>
   <div id="map"></div>
  </div>
  <div class="right">
    <div class="card">
      <div class="card_title title-white">
        <div class="form__group field">
          <input type="text" class="form__field" placeholder="Enter Ip address"
                 name="name" id='name' [(ngModel)]="inputValue" required />
          <label for="name" class="form__label">Enter Ip address</label>
          <button id="button" (click)="getLocation()"><b>Get Location</b></button>
        </div>
      </div>
      <div class="card_image"> <img src="assets/globalisation-g347b14ac5_1920.jpg" /> </div>
      <div class="ip_info" *ngIf="isCalled">
        <table class="info_card">
          <tbody>
          <tr class="even">
            <th>Country</th>
            <td>{{ip_country}}</td>
          </tr>
          <tr class="odd">
            <th>Region</th>
            <td>{{ip_region}}</td>
          </tr>
          <tr class="even">
            <th>City</th>
            <td>{{ip_city}}</td>
          </tr>
          <tr class="odd">
            <th>Country Code</th>
            <td>{{ip_country_code}}</td>
          </tr>
          <tr class="even">
            <th>Calling Code</th>
            <td>{{ip_callingCode}}</td>
          </tr>
          <tr class="odd">
            <th>Currency</th>
            <td>{{ip_currency}}</td>
          </tr>
          <tr class="even">
            <th>Org</th>
            <td>{{ip_org}}</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
   <video src="assets/world.mp4" autoplay="autoplay" muted="muted" loop="loop"></video>

